nodered-flows/linebot/flows.json
[
    {
        "id": "4d09d81c.1f2b98",
        "type": "tab",
        "label": "work at home bot",
        "disabled": false,
        "info": "Call for Code 2020"
    },
    {
        "id": "f2f2649a.0d0d98",
        "type": "debug",
        "z": "4d09d81c.1f2b98",
        "name": "debug : watson ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "8b718dd8.c613f",
        "type": "watson-assistant-v2",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "service-endpoint": "",
        "assistant_id": "1d3242ac-1d65-4039-aba7-b29499ccfab4",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": false,
        "timeout": "",
        "optout-learning": false,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "f2f2649a.0d0d98",
                "add219f4.d971e8",
                "153c465.2735eba",
                "61290a2e.3cfd84",
                "63e8d9fe.fad5e8",
                "ea4a0a0a.deb568",
                "75c76521.0611ec"
            ]
        ]
    },
    {
        "id": "fd52abe.7719258",
        "type": "switch",
        "z": "4d09d81c.1f2b98",
        "name": "switch : check context q10ans",
        "property": "payload.context.skills[\"main skill\"].user_defined.q10ans",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 560,
        "wires": [
            [
                "e20e1fb.0c24de",
                "8d02cd8e.68396",
                "7391cc99.0df7b4"
            ],
            []
        ]
    },
    {
        "id": "63e8d9fe.fad5e8",
        "type": "switch",
        "z": "4d09d81c.1f2b98",
        "name": "switch : anything else",
        "property": "payload.output.generic[0].text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Do you want to start a check of work at home ? , Please enter YES or NO.",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "29133372.0b971c",
                "32dbc55c.2cffea"
            ],
            []
        ]
    },
    {
        "id": "29133372.0b971c",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "get anything else value",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 300,
        "wires": [
            [
                "f0aaf154.7aeb7"
            ]
        ]
    },
    {
        "id": "add219f4.d971e8",
        "type": "switch",
        "z": "4d09d81c.1f2b98",
        "name": "switch : check intent value YES/NO",
        "property": "payload.output.intents[0].intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "YES",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "32dbc55c.2cffea"
            ],
            [
                "32dbc55c.2cffea",
                "29133372.0b971c"
            ]
        ]
    },
    {
        "id": "32dbc55c.2cffea",
        "type": "change",
        "z": "4d09d81c.1f2b98",
        "name": "delete context value",
        "rules": [
            {
                "t": "set",
                "p": "payload.context.skills[\"main skill\"].user_defined.qNo",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload.context.skills[\"main skill\"].user_defined.q1ans",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.context.skills[\"main skill\"].user_defined.q2ans",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.context.skills[\"main skill\"].user_defined.q3ans",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.context.skills[\"main skill\"].user_defined.q4ans",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.context.skills[\"main skill\"].user_defined.q5ans",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.context.skills[\"main skill\"].user_defined.q6ans",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.context.skills[\"main skill\"].user_defined.q7ans",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.context.skills[\"main skill\"].user_defined.q8ans",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.context.skills[\"main skill\"].user_defined.q9ans",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.context.skills[\"main skill\"].user_defined.q10ans",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 340,
        "wires": [
            [
                "22d911b0.24dcbe"
            ]
        ]
    },
    {
        "id": "22d911b0.24dcbe",
        "type": "debug",
        "z": "4d09d81c.1f2b98",
        "name": "debug : delete context",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "153c465.2735eba",
        "type": "switch",
        "z": "4d09d81c.1f2b98",
        "name": "switch : check entity",
        "property": "payload.output.entities[0].entity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Answer",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 560,
        "wires": [
            [
                "fd52abe.7719258"
            ],
            []
        ]
    },
    {
        "id": "e20e1fb.0c24de",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "get context value",
        "func": "var q1ans = msg.payload.context.skills[\"main skill\"].user_defined.q1ans;\nvar q2ans = msg.payload.context.skills[\"main skill\"].user_defined.q2ans;\nvar q3ans = msg.payload.context.skills[\"main skill\"].user_defined.q3ans;\nvar q4ans = msg.payload.context.skills[\"main skill\"].user_defined.q4ans;\nvar q5ans = msg.payload.context.skills[\"main skill\"].user_defined.q5ans;\nvar q6ans = msg.payload.context.skills[\"main skill\"].user_defined.q6ans;\nvar q7ans = msg.payload.context.skills[\"main skill\"].user_defined.q7ans;\nvar q8ans = msg.payload.context.skills[\"main skill\"].user_defined.q8ans;\nvar q9ans = msg.payload.context.skills[\"main skill\"].user_defined.q9ans;\nvar q10ans = msg.payload.context.skills[\"main skill\"].user_defined.q10ans;\nmsg.payload = Number(q1ans) + Number(q2ans) + Number(q3ans) + Number(q4ans) + Number(q5ans) + Number(q6ans) + Number(q7ans) + Number(q8ans) + Number(q9ans) + Number(q10ans);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 620,
        "wires": [
            [
                "6ac23760.dfbc78"
            ]
        ]
    },
    {
        "id": "6ac23760.dfbc78",
        "type": "switch",
        "z": "4d09d81c.1f2b98",
        "name": "swtich : score",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "10",
                "vt": "num",
                "v2": "19",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "20",
                "vt": "num",
                "v2": "29",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "30",
                "vt": "num",
                "v2": "39",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "40",
                "vt": "num",
                "v2": "49",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "50",
                "vt": "num",
                "v2": "60",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 780,
        "y": 800,
        "wires": [
            [
                "1e0323a3.cb328c"
            ],
            [
                "1d27a136.aaf94f"
            ],
            [
                "cdfed0f2.63859"
            ],
            [
                "cce662fa.3883a"
            ],
            []
        ]
    },
    {
        "id": "1e0323a3.cb328c",
        "type": "change",
        "z": "4d09d81c.1f2b98",
        "name": "insert : high-level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "high-level",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 760,
        "wires": [
            [
                "1987ed6b.a15483",
                "e8386040.ddeec"
            ]
        ]
    },
    {
        "id": "1d27a136.aaf94f",
        "type": "change",
        "z": "4d09d81c.1f2b98",
        "name": "insert : slightlyhigher-level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "slightlyhigher-level",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 800,
        "wires": [
            [
                "1987ed6b.a15483",
                "e8386040.ddeec"
            ]
        ]
    },
    {
        "id": "cdfed0f2.63859",
        "type": "change",
        "z": "4d09d81c.1f2b98",
        "name": "insert : nothigh-level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "nothigh-level",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 840,
        "wires": [
            [
                "1987ed6b.a15483",
                "e8386040.ddeec"
            ]
        ]
    },
    {
        "id": "cce662fa.3883a",
        "type": "change",
        "z": "4d09d81c.1f2b98",
        "name": "insert : greatcontrol",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "greatcontrol",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 880,
        "wires": [
            [
                "1987ed6b.a15483",
                "e8386040.ddeec"
            ]
        ]
    },
    {
        "id": "55dabe43.6d4f1",
        "type": "change",
        "z": "4d09d81c.1f2b98",
        "name": "insert : nostress",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "nostress",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 920,
        "wires": [
            [
                "1987ed6b.a15483",
                "e8386040.ddeec"
            ]
        ]
    },
    {
        "id": "1987ed6b.a15483",
        "type": "debug",
        "z": "4d09d81c.1f2b98",
        "name": "debug : score mean",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1470,
        "y": 760,
        "wires": []
    },
    {
        "id": "d78f59f8.68bc68",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "function:query",
        "func": "msg.discoveryparams = {};\nmsg.discoveryparams.environment_id = '0c63434f-7b47-4bcf-9867-14c203a6d584';\nmsg.discoveryparams.collection_id = '621a8eca-e84c-48b1-902f-3b4789ace7a7';\nmsg.discoveryparams.nlp_query = true;\nmsg.discoveryparams.query = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1460,
        "y": 880,
        "wires": [
            [
                "49d0dc73.0adf44"
            ]
        ]
    },
    {
        "id": "e8386040.ddeec",
        "type": "watson-discovery-v1-query-builder",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "password": "",
        "apikey": "wP8AnY1Frbu2eKJ7CzES8JzeVeqOtDVDrmL4js0YxCLi",
        "environment": "0c63434f-7b47-4bcf-9867-14c203a6d584",
        "environmenthidden": "0c63434f-7b47-4bcf-9867-14c203a6d584",
        "collection": "621a8eca-e84c-48b1-902f-3b4789ace7a7",
        "collectionhidden": "621a8eca-e84c-48b1-902f-3b4789ace7a7",
        "nlp_query": true,
        "nlp_queryhidden": "true",
        "querynlp": "",
        "querynlphidden": "",
        "query1": "enriched_text.categories.label",
        "query1hidden": "",
        "queryvalue1": "",
        "queryvalue1hidden": "",
        "query2": "enriched_text.categories.label",
        "query2hidden": "",
        "queryvalue2": "",
        "queryvalue2hidden": "",
        "query3": "enriched_text.categories.label",
        "query3hidden": "",
        "queryvalue3": "",
        "queryvalue3hidden": "",
        "passages": false,
        "passageshidden": "false",
        "service-endpoint": "https://gateway-tok.watsonplatform.net/discovery/api",
        "x": 1490,
        "y": 820,
        "wires": [
            [
                "d78f59f8.68bc68"
            ]
        ]
    },
    {
        "id": "49d0dc73.0adf44",
        "type": "watson-discovery-v1",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "environmentname": "",
        "environmentId": "0c63434f-7b47-4bcf-9867-14c203a6d584",
        "collectionId": "621a8eca-e84c-48b1-902f-3b4789ace7a7",
        "configurationname": "",
        "configurationId": "",
        "language_code": "en",
        "collection_name": "",
        "count": "1",
        "passages": true,
        "nlp_query": true,
        "query": "",
        "filter": "",
        "aggregation": "",
        "return": "",
        "description": "",
        "size": "LT",
        "discovery-method": "query",
        "service-endpoint": "https://gateway-tok.watsonplatform.net/discovery/api",
        "x": 1440,
        "y": 940,
        "wires": [
            [
                "5eacb9e.31b9548"
            ]
        ]
    },
    {
        "id": "5eacb9e.31b9548",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "output result",
        "func": "var advice = msg.search_results.results[0].text;\nmsg.payload = advice;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1610,
        "y": 940,
        "wires": [
            [
                "37615b7e.982664"
            ]
        ]
    },
    {
        "id": "fc8ba3e1.28804",
        "type": "http in",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "url": "/linepost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "4727104e.c9adb",
                "77abed90.cefcb4"
            ]
        ]
    },
    {
        "id": "4727104e.c9adb",
        "type": "http response",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "f7550f9b.8a69e",
        "type": "comment",
        "z": "4d09d81c.1f2b98",
        "name": "LINE",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "77abed90.cefcb4",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "LINE Recieve",
        "func": "var message = msg.payload.events[0].message.text;\nvar replyToken = msg.payload.events[0].replyToken;\nvar userid = msg.payload.events[0].source.userId;\nvar linemsg = {\n\t\treplyToken: replyToken,\n\t\tuserid: userid,\n\t\tpayload: message\n\t};\n\tflow.set('line',linemsg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "1e97938a.eb615c",
                "c73ddb39.824a38"
            ]
        ]
    },
    {
        "id": "1e97938a.eb615c",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "bridge LINE to Watson",
        "func": "msg.payload = msg.payload.events[0].message.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 80,
        "wires": [
            [
                "8b718dd8.c613f"
            ]
        ]
    },
    {
        "id": "81ebdb93.e9fb78",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "Create Reply type:Message",
        "func": "var line=flow.get('line');\nvar message = msg.payload;\nvar replyToken = line.replyToken;\nvar replyMessage = {\"type\": \"text\", \"text\": message}\nmsg.headers  ={    \"Content-Type\": \"application/json\",    \"Authorization\": \"Bearer x61OaYCh5xzY/7s0EIlcvYG4+PhAcByPNaVNZYiA2KNPqegHlv/g3hxx+xSH9/zAZKmHTGcw8o+AkQfqds7xRqCrtqLwaoVvMsQPle8fX88Ni6lsGVAMw+u5d5ANpI4SCVXyPDipHuZ355KyjZ68SgdB04t89/1O/w1cDnyilFU=\"};\nmsg.payload = {\"messages\": [replyMessage], \"replyToken\": replyToken};\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1400,
        "y": 440,
        "wires": [
            [
                "e3110cab.8ae42"
            ]
        ]
    },
    {
        "id": "e3110cab.8ae42",
        "type": "http request",
        "z": "4d09d81c.1f2b98",
        "name": "LINE REPLY",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api.line.me/v2/bot/message/reply",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1430,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "709a1b68.601394",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "Watson Response : Question",
        "func": "var title = msg.payload.output.generic[0].title;\nvar guide = \"\\n1:Strongly Disagree\\n2:Disagree\\n3:Somewhat Disagree\\n4:Somewhat Agree\\n5:Agree\\n6:Strongly Agree\";\nmsg.payload = title + guide;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 451,
        "wires": [
            [
                "7691d650.255568"
            ]
        ]
    },
    {
        "id": "61290a2e.3cfd84",
        "type": "switch",
        "z": "4d09d81c.1f2b98",
        "name": "swtich watson response output[0]",
        "property": "payload.output.generic[0].response_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "option",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 471,
        "wires": [
            [
                "709a1b68.601394"
            ],
            []
        ]
    },
    {
        "id": "32abc534.ab83ca",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "set close message",
        "func": "var answer = \"Please input close to finish. And This is an advice for you.\"\nmsg.payload = answer;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 1000,
        "wires": [
            [
                "2f10b3b7.93804c"
            ]
        ]
    },
    {
        "id": "2f10b3b7.93804c",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "Create PUSH type:Message",
        "func": "var line=flow.get('line');\nvar message = msg.payload;\nvar userid = line.userid;\nvar replyMessage = {\"type\": \"text\", \"text\": message}\nmsg.headers  ={    \"Content-Type\": \"application/json\",    \"Authorization\": \"Bearer x61OaYCh5xzY/7s0EIlcvYG4+PhAcByPNaVNZYiA2KNPqegHlv/g3hxx+xSH9/zAZKmHTGcw8o+AkQfqds7xRqCrtqLwaoVvMsQPle8fX88Ni6lsGVAMw+u5d5ANpI4SCVXyPDipHuZ355KyjZ68SgdB04t89/1O/w1cDnyilFU=\"};\nmsg.payload = {\"to\": userid ,\"messages\": [replyMessage]};\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 1000,
        "wires": [
            [
                "382130ca.9bd02"
            ]
        ]
    },
    {
        "id": "382130ca.9bd02",
        "type": "http request",
        "z": "4d09d81c.1f2b98",
        "name": "LINE PUSH",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api.line.me/v2/bot/message/push",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1450,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "8d02cd8e.68396",
        "type": "link out",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "bb21e59f.31ebb8"
        ],
        "x": 995,
        "y": 660,
        "wires": []
    },
    {
        "id": "bb21e59f.31ebb8",
        "type": "link in",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "8d02cd8e.68396"
        ],
        "x": 715,
        "y": 1000,
        "wires": [
            [
                "32abc534.ab83ca"
            ]
        ]
    },
    {
        "id": "f0aaf154.7aeb7",
        "type": "link out",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "b3c40ba.51c80f8"
        ],
        "x": 1015,
        "y": 300,
        "wires": []
    },
    {
        "id": "b3c40ba.51c80f8",
        "type": "link in",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "f0aaf154.7aeb7"
        ],
        "x": 1195,
        "y": 300,
        "wires": [
            [
                "81ebdb93.e9fb78"
            ]
        ]
    },
    {
        "id": "7691d650.255568",
        "type": "link out",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "8f31d7ff.89ed98"
        ],
        "x": 1035,
        "y": 440,
        "wires": []
    },
    {
        "id": "8f31d7ff.89ed98",
        "type": "link in",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "7691d650.255568"
        ],
        "x": 1195,
        "y": 440,
        "wires": [
            [
                "81ebdb93.e9fb78"
            ]
        ]
    },
    {
        "id": "37615b7e.982664",
        "type": "link out",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "33e9effc.b7609"
        ],
        "x": 1735,
        "y": 940,
        "wires": []
    },
    {
        "id": "33e9effc.b7609",
        "type": "link in",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "37615b7e.982664"
        ],
        "x": 1235,
        "y": 560,
        "wires": [
            [
                "81ebdb93.e9fb78"
            ]
        ]
    },
    {
        "id": "ea4a0a0a.deb568",
        "type": "switch",
        "z": "4d09d81c.1f2b98",
        "name": "switch close",
        "property": "payload.output.generic[0].text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Thank you for your answer.",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 680,
        "wires": [
            [
                "19f0a963.4d5067",
                "97b37ff1.253ec"
            ]
        ]
    },
    {
        "id": "19f0a963.4d5067",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "get close greeting",
        "func": "msg.payload = msg.payload.output.generic[0].text + \" \\nWould you like to check again?\\nPlease input YES or NO.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 740,
        "wires": [
            [
                "94860c3.a6096f"
            ]
        ]
    },
    {
        "id": "94860c3.a6096f",
        "type": "link out",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "c07461fe.71255"
        ],
        "x": 635,
        "y": 740,
        "wires": []
    },
    {
        "id": "c07461fe.71255",
        "type": "link in",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "94860c3.a6096f"
        ],
        "x": 1235,
        "y": 600,
        "wires": [
            [
                "81ebdb93.e9fb78"
            ]
        ]
    },
    {
        "id": "c73ddb39.824a38",
        "type": "debug",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "41734e96.48eb",
        "type": "debug",
        "z": "4d09d81c.1f2b98",
        "name": "debug : insert cloudant",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1460,
        "y": 700,
        "wires": []
    },
    {
        "id": "7391cc99.0df7b4",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "insert Cloudant",
        "func": "var line=flow.get('line');\nvar userid = line.userid;\nvar q1ans = msg.payload.context.skills[\"main skill\"].user_defined.q1ans;\nvar q2ans = msg.payload.context.skills[\"main skill\"].user_defined.q2ans;\nvar q3ans = msg.payload.context.skills[\"main skill\"].user_defined.q3ans;\nvar q4ans = msg.payload.context.skills[\"main skill\"].user_defined.q4ans;\nvar q5ans = msg.payload.context.skills[\"main skill\"].user_defined.q5ans;\nvar q6ans = msg.payload.context.skills[\"main skill\"].user_defined.q6ans;\nvar q7ans = msg.payload.context.skills[\"main skill\"].user_defined.q7ans;\nvar q8ans = msg.payload.context.skills[\"main skill\"].user_defined.q8ans;\nvar q9ans = msg.payload.context.skills[\"main skill\"].user_defined.q9ans;\nvar q10ans = msg.payload.context.skills[\"main skill\"].user_defined.q10ans;\nvar score = Number(q1ans) + Number(q2ans) + Number(q3ans) + Number(q4ans) + Number(q5ans) + Number(q6ans) + Number(q7ans) + Number(q8ans) + Number(q9ans) + Number(q10ans);\nvar dt = new Date(); // UTC\nvar year = dt.getFullYear();\nvar month = dt.getMonth()+1;\nvar day = dt.getDate();\nvar hour = dt.getHours();\nvar minute = dt.getMinutes();\nvar second = dt.getSeconds();\nvar utcdate = year+\"-\"+month+\"-\"+day+\" \"+hour+\":\"+minute+\":\"+second;\nmsg.payload = {\n    \"NAME\": userid,\n    \"USERTYPE\": \"line\",\n    \"TOTAL\": score,\n    \"Q1\": q1ans,\n    \"Q2\": q2ans,\n    \"Q3\": q3ans,\n    \"Q4\": q4ans,\n    \"Q5\": q5ans,\n    \"Q6\": q6ans,\n    \"Q7\": q7ans,\n    \"Q8\": q8ans,\n    \"Q9\": q9ans,\n    \"Q10\": q10ans,\n    \"CREATED_AT\": utcdate\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1160,
        "y": 660,
        "wires": [
            [
                "41734e96.48eb",
                "c9acdd80.efb32"
            ]
        ]
    },
    {
        "id": "97b37ff1.253ec",
        "type": "link out",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "63105609.5b4cc8"
        ],
        "x": 635,
        "y": 680,
        "wires": []
    },
    {
        "id": "63105609.5b4cc8",
        "type": "link in",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "97b37ff1.253ec"
        ],
        "x": 775,
        "y": 400,
        "wires": [
            [
                "32dbc55c.2cffea"
            ]
        ]
    },
    {
        "id": "75c76521.0611ec",
        "type": "switch",
        "z": "4d09d81c.1f2b98",
        "name": "switch : greeting",
        "property": "payload.output.entities[0].entity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "greeting",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 240,
        "wires": [
            [
                "a58c81d7.0dc58",
                "32dbc55c.2cffea"
            ]
        ]
    },
    {
        "id": "a58c81d7.0dc58",
        "type": "function",
        "z": "4d09d81c.1f2b98",
        "name": "get greeting messages",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 240,
        "wires": [
            [
                "dae86e00.4df9b"
            ]
        ]
    },
    {
        "id": "dae86e00.4df9b",
        "type": "link out",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "8bf988de.181328"
        ],
        "x": 1015,
        "y": 240,
        "wires": []
    },
    {
        "id": "8bf988de.181328",
        "type": "link in",
        "z": "4d09d81c.1f2b98",
        "name": "",
        "links": [
            "dae86e00.4df9b"
        ],
        "x": 1195,
        "y": 240,
        "wires": [
            [
                "81ebdb93.e9fb78"
            ]
        ]
    },
    {
        "id": "c9acdd80.efb32",
        "type": "dashDB out",
        "z": "4d09d81c.1f2b98",
        "dashDB": "e826d5a5.f52598",
        "service": "_ext_",
        "table": "WORKATHOME",
        "name": "insert Db2 on Cloud",
        "x": 1460,
        "y": 660,
        "wires": []
    },
    {
        "id": "e826d5a5.f52598",
        "type": "dashDB",
        "z": "",
        "hostname": "dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net",
        "db": "BLUDB",
        "port": "50000",
        "name": ""
    }
]